<div id="footer">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h3>// Есть вопросы?</h3>
                <p>Смело звони на номер +371 21012345 и спрашивай:</p>
                <ul>
                    <li>По рабочим дням с 9 до 20</li>
                    <li>В выходные дни с 10 до 18</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>// Есть вопросы?</h3>
                <p>Мы тоже :) Обсуждай с друзьями, задавай вопросы, делись своим мнением.</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>// Подпишись и узнавай о новинках</h3>
                <p>Введи сфой эмайл и узнавай о самых свежих поступлениях в нашь магазин первым !!!</p>
                <form>
                    <input type="text" name="subscribe_email" placeholder="Ваш эмайл">
                    <button class="btn btn-warning">Подписаться</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                © 2012 Viva-Sofa. All Rights Reserved.
            </div>
            <div class="col-xs-12 col-sm-6">
                <p class="pull-right"><a href="#top">Наверх</a></p>
            </div>
        </div>
    </div>
</div>