<div class="navbar navbar-inverse styled-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/img/logo.gif"></a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right my-navbar-links">
                <li class="active"><a href="#">В начало</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Информация <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Гарантия</a></li>
                        <li><a href="#">Партнеры</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Контакты</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/img/icons/ru.png" alt="ru"> Русский <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><img src="/img/icons/lv.png" alt="lv"> Latviski</a></li>
                        <li><a href="#"><img src="/img/icons/gb.png" alt="gb"> English</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>